.move-log-container{
    color: #F0D1BA;
    background-color: #B48772;
}

.move-log-title{
    margin: 0;
    padding: 1rem 0;
    text-align: center;
}

.move-log{
    padding: 0 1rem;
    max-height: calc(100vh - 56px);
    overflow-y: scroll;
}