.tile{
    display: grid;
    place-items: center;
    width: 100px;
    height: 100px;
    position: relative;
}

.piece{
    height: 80px;
}

.legal{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 50px;
    aspect-ratio: 1;
    background-color: rgba(255, 100, 100, .5);
    border-radius: 50%;
  }

.white{ background-color: var(--white-tile) };
.black{ background-color: var(--black-tile) };
